---
import Layout from "../layouts/Layout.astro";

import MainSection from "../components/home/mainSection.astro";
---

<Layout title="Template UI #1 - Inicio">
	<main>
		<MainSection />
	</main>
</Layout>
