---

---

<div class="py-20 text-center">
	<p class="text-center text-morado font-medium mb-2">Integrations</p>
	<h1 class="font-medium text-center text-6xl max-w-[680px] tracking-tight text-pretty word-spacing leading-[65px] mx-auto mb-6">Integrations Tool You Use to Run Your Business</h1>

	<p class="mb-8 max-w-[550px] mx-auto">Effortlessly integrate essential tools into your buniness operations, ensuring seamless functionality and enhanced efficiency</p>

	<div class="flex gap-4 items-center justify-center">
		<button class="btn negro" type="button">Get Started</button>
		<button class="btn blanco" type="button">Contact Us</button>
	</div>
</div>

<style>
	.word-spacing {
		word-spacing: 6px;
	}
</style>
