---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="stylesheet" href="/assets/fonts/fonts.css" />
	</head>
	<body class="font-roboto">
		<slot />
	</body>
</html>

<style is:global>
	body,
	html {
		color: #17161c;
	}

	.btn {
		padding: 10px 25px;
		border: none;
		border-radius: 10px;
		font-weight: 500;
	}
	.btn.negro {
		background-color: #17161c;
		color: white;
	}
	.btn.blanco {
		background-color: white;
		color: #17161c;
		border: 1px solid rgb(211, 211, 211);
	}
</style>
